<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <!--pass response as it in case of Error-->
    <httpErrors existingResponse="PassThrough" />
    
    <iisnode enableXFF="true" />
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="R6Node">
          <match url="/*"/>
          <action type="Rewrite" url="app.js"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>